*# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
yarn.lock
\yarn.lock
*\yarn.*
*\yarn
.\yarn
\git
yarn
.yarn

yarn.lock
.eslintcache
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.husky
*husky*
*.lintstagedrc
*.lintstagedrc.js
*vite.config.ts.timestamp-1670922945872
.env
yarn.lock


